* {
  box-sizing: border-box;
}

body {
  background-color: #bbf1ef;
  font-family: "pretendard", sans-serif;
}

#a {
  font-size: 50px;
  border: 3px solid #000000;
  border-radius: 0px;
  padding: 0px;
  margin: 40px auto;
  width: 500px;
}

img {
  border: 3px dotted #000000;
  border-radius: 15px;
  display: block;
  margin: 0px auto;
}

h1 {
  font-size: 18px;
  border: 3px solid #000000;
  border-radius: 20px;
  padding: 6px 0;
  margin: 20px auto;
  width: 300px;
  text-align: center;
}

/* dotted , dashed*/
/* 안쪽padding: 15px 3px; 바깥쪽margin: 40px 0;
1개 상하좌우 2개 상하/좌우 3개 상/좌우/하 4개 상/하/좌/우*/
/* padding과 border 전체 폭과 너비에 포함안됨 */
/* display: block; 인라인을 블록으로 강제 변환 */
