* {
  color: black;
}

h3 {
  color: red;
  background-color: aquamarine;
}

#pop {color: blue; background-color: aquamarine;}
.pull {color: blueviolet;}

input[type="text"]{
  background: red;
}
input[type="password"]{
  background: blue;
}

#header > h1 {
  color: red;
}

#a {background: blue;} #b {background: red;} #c {background: yellow;} #d {background: green;}
